/* styles.css */
/* styles.css */

div.css-1wrcr25.e1g8pov66 {
    background: #325343;
  }

@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');

body {
    font-family: 'Abel', Arial, sans-serif;
    margin: 0;
    padding: 0;
}


/* .hero {
    background-color: #325343;
    padding: 250px;
    text-align: center;
    color: #f5f7f5;
    height: 50vh;
    width: 90vh;
} */

/* .hero {
    height: 50vh;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  } */
/* div.css-19rxjzo.e1ewe7hr10{

} */

.hero{
    text-align: center;
}
.content-container {
    height: auto;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
}

.app-name {
    color: #c2a12d
}

.hero h1 {
    font-size: 48px;
    font-weight: 700;
}

.hero p {
    font-size: 24px;
    margin-top: 20px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

div.row-widget.stButton{
    display:flex;
    justify-content: center;
    align-items: center;
}

div.css-19rxjzo.e1ewe7hr10{
    display:flex;
    justify-content: center;
    align-items: center;
}


div.stButton > button:first-child {
    padding: 1rem 1rem;
    font-size: 1.2rem;
    border: none;
    background-color: #fff;
    color: #325343;
    border-radius:10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}



#quotes{
    position: relative;
    padding: 50px;
    text-align: center;

}

.quote {
    margin-bottom: 20px;
}

#quotes h2{
    color: #c2a12d;
}

/* .quote blockquote {
    font-size: 20px;
    margin: 0;
} */

.quote p {
    font-size: 20px;
    margin: 0;
}

.quote cite {
    font-size: 14px;
    margin-top: 10px;
    display: block;
}

#stories {
    text-align: center;
    /* display: flex; */
    /* justify-content: space-between; */
    /* background-color: #f2e0c7; */
    padding: 100px;
}

/* .story {
    flex-basis: 23%;
    padding: 20px;
    margin-bottom: 10px;
} */

.story h3 {
    font-size: 24px;
    color: #c2a12d;
    margin: 0;
}

.story p {
    font-size: 20px;
    margin-top: 10px;
}

.story h3 {

    font-size: 24px;
    margin: 0;
}

.story p {
    margin-top: 10px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
}